mixin video(info)
    a(href=`/videos/${info.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            p=info.username 
            h4.video-mixin__title
                span=info.title
            div.video-mixin__meta
                span #{info.owner.name} • 
                span #{info.meta.views}회
            small=info.createdAt
            ul 
                each hashtag in info.hashtags 
                    li=hashtag